<!-- Sign in -->
<br />
<br />
<div class="container-full">
  <div class="grid grid-nogutter mt-2">
    <div class="col-12 ms:col-12 md:col-6 lg:col-4 xl:col-4 p-2 md:col-offset-4 xl:col-offset-4">
      <mat-card class="justify-content-center w-full example-card">
        <div class="grid grid-nogutter mt-2 text-center">
          <div class="flex flex-column align-items-center justify-content-center w-full">
            <div class="surface-overlay border-round p-5 py-0 m-3">
              <span class="vertical-align-middle"
                ><img src="/assets/customer-support.svg" alt="Photo of a Shiba Inu"
              /></span>
            </div>
            <div class="surface-overlay border-round p-5 py-0 m-3">
              <span class="vertical-align-middle font-medium text-lg">Sign Up</span>
            </div>
            <div class="surface-overlay border-round p-5 py-0 m-3">
              <span class="vertical-align-base font-light text-base"
                >Please sign up to continue shopping</span
              >
            </div>
          </div>
        </div>
        <mat-card-content>
          <form (ngSubmit)="signup()" [formGroup]="signupForm" aria-labelledby="title">
            <div class="grid grid-nogutter mt-2 text-center plr-2">
              <div class="col-12">
                <mat-form-field appearance="outline" class="w-full h-4rem">
                  <mat-label>Enter your firstname</mat-label>
                  <input matInput formControlName="firstname" class="form-control" required />
                </mat-form-field>
                <mat-error
                  class="text-left"
                  *ngIf="
                    (fg['firstname']?.touched || fg['firstname']?.dirty) && fg['firstname']?.invalid
                  ">
                  {{ getErrorMessage('firstname') }}</mat-error
                >
              </div>
              <div class="col-12 mt-4">
                <mat-form-field appearance="outline" class="w-full h-4rem">
                  <mat-label>Enter your lastname</mat-label>
                  <input matInput formControlName="lastname" class="form-control" required />
                </mat-form-field>
                <mat-error
                  class="text-left"
                  *ngIf="
                    (fg['lastname']?.touched || fg['lastname']?.dirty) && fg['lastname']?.invalid
                  ">
                  {{ getErrorMessage('lastname') }}</mat-error
                >
              </div>
              <div class="col-12 mt-4">
                <mat-form-field appearance="outline" class="w-full h-4rem">
                  <mat-label>Enter your email</mat-label>
                  <input
                    matInput
                    placeholder="user@example.com"
                    formControlName="email"
                    class="form-control"
                    required />
                </mat-form-field>
                <mat-error
                  class="text-left"
                  *ngIf="(fg['email']?.touched || fg['email']?.dirty) && fg['email']?.invalid">
                  {{ getErrorMessage('email') }}</mat-error
                >
              </div>
              <div class="col-12 mt-4">
                <mat-form-field appearance="outline" class="w-full h-4rem">
                  <mat-label>Enter your password</mat-label>
                  <input
                    matInput
                    type="password"
                    formControlName="password"
                    class="form-control"
                    required />
                </mat-form-field>
                <mat-error
                  class="text-left"
                  *ngIf="
                    (fg['password']?.touched || fg['password']?.dirty) && fg['password']?.invalid
                  ">
                  {{ getErrorMessage('password') }}</mat-error
                >
              </div>
              <div class="col-12 mt-4">
                <mat-form-field appearance="outline" class="w-full h-5rem">
                  <mat-label>Select your gender</mat-label>
                  <mat-select formControlName="gender" class="form-control" required>
                    <mat-option value="one">Male</mat-option>
                    <mat-option value="two">Female</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-error
                  class="text-left"
                  *ngIf="(fg['gender']?.touched || fg['gender']?.dirty) && fg['gender']?.invalid">
                  {{ getErrorMessage('gender') }}</mat-error
                >
              </div>
              <div class="col-12 mt-2">
                <mat-form-field appearance="outline" class="w-full h-4rem">
                  <mat-label>Choose your birth date</mat-label>
                  <!-- #docregion toggle -->
                  <input
                    matInput
                    [matDatepicker]="picker"
                    formControlName="birthDate"
                    class="form-control"
                    required />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <!-- #enddocregion toggle -->
                </mat-form-field>
                <mat-error
                  class="text-left"
                  *ngIf="
                    (fg['birthDate']?.touched || fg['birthDate']?.dirty) && fg['birthDate']?.invalid
                  ">
                  {{ getErrorMessage('birthDate') }}</mat-error
                >
              </div>
              <div class="col-12 mt-4">
                <mat-form-field appearance="outline" class="w-full h-4rem">
                  <mat-label>Enter your phone</mat-label>
                  <input matInput formControlName="phone" class="form-control" required />
                </mat-form-field>
                <mat-error
                  class="text-left"
                  *ngIf="(fg['phone']?.touched || fg['phone']?.dirty) && fg['phone']?.invalid">
                  {{ getErrorMessage('phone') }}</mat-error
                >
              </div>

              <div class="col-12 mt-3 mb-3">
                <button
                  class="w-full h-3rem"
                  mat-raised-button
                  color="primary"
                  [disabled]="signupForm.invalid || isLoading">
                  <mat-spinner *ngIf="isLoading" [diameter]="30"></mat-spinner>
                  <span *ngIf="!isLoading">Sign up</span>
                </button>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="col-12 mt-3 text-center">
              <span class="font-light text-base">Already have an account?</span
              ><a class="blue-link" mat-button routerLink="/sign_in"> Sign in</a>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<br />
<br />
