<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a href="#">about us</a></li>
          <li><a href="#">our services</a></li>
          <li><a href="#">privacy policy</a></li>
          <li><a href="#">affiliate program</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">shipping</a></li>
          <li><a href="#">returns</a></li>
          <li><a href="#">order status</a></li>
          <li><a href="#">payment options</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>online shop</h4>
        <ul>
          <li><a href="#">watch</a></li>
          <li><a href="#">bag</a></li>
          <li><a href="#">shoes</a></li>
          <li><a href="#">dress</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a mat-mini-fab matTooltip="Link" routerLink=".">
            <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
          </a>
          <a mat-mini-fab matTooltip="Link" routerLink=".">
            <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
          </a>
          <a mat-mini-fab matTooltip="Link" routerLink=".">
            <i class="fa fa-instagram fa-lg fa-lg" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a href="#">about us</a></li>
          <li><a href="#">our services</a></li>
          <li><a href="#">privacy policy</a></li>
          <li><a href="#">affiliate program</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">shipping</a></li>
          <li><a href="#">returns</a></li>
          <li><a href="#">order status</a></li>
          <li><a href="#">payment options</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>online shop</h4>
        <ul>
          <li><a href="#">watch</a></li>
          <li><a href="#">bag</a></li>
          <li><a href="#">shoes</a></li>
          <li><a href="#">dress</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a mat-mini-fab matTooltip="Link" routerLink=".">
            <mat-icon><i class="fa fa-facebook" aria-hidden="true"></i></mat-icon>
          </a>
          <a mat-mini-fab matTooltip="Link" routerLink=".">
            <mat-icon><i class="fa fa-twitter" aria-hidden="true"></i></mat-icon>
          </a>
          <a mat-mini-fab matTooltip="Link" routerLink=".">
            <mat-icon><i class="fa fa-instagram" aria-hidden="true"></i></mat-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
-->
