<p>
  <mat-toolbar class="h-toolbar shadow-5" color="primary" fixedInViewport>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <mat-list-item class="text-align-end">
      <div class="example-button-row">
        <a class="pr-4" mat-button routerLink=".">
          <mat-icon>home</mat-icon>
          Home
        </a>
        <a class="pr-4" mat-button routerLink=".">
          <mat-icon>shop_two</mat-icon>
          Shop
        </a>
        <a class="pr-4" mat-button routerLink=".">
          <mat-icon>info</mat-icon>
          About us
        </a>
        <a class="pr-4" mat-button routerLink=".">
          <mat-icon>contact_support</mat-icon>
          Contact us
        </a>
        <a class="pr-4" mat-button routerLink=".">
          <mat-icon>add_shopping_cart</mat-icon>
          Cart
        </a>
        <a class="pr-4" mat-button routerLink=".">
          <mat-icon>person</mat-icon>
          Sign In
        </a>
      </div>
    </mat-list-item>
  </mat-toolbar>
</p>
