<div class="content">
  <nav class="navbar">
    <!-- LOGO -->

    <span class="pl-2 pt-2"><img src="/assets/logo_light.png" alt="Logo" /></span>

    <!--<div class="logo">King Store</div>-->

    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
      <!-- USING CHECKBOX HACK -->
      <input
        type="checkbox"
        id="checkbox_toggle"
        [checked]="visible"
        (change)="setVisibleState(true)" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>

      <!-- NAVIGATION MENUS -->
      <div class="menu">
        <li *ngFor="let item of items">
          <a
            (click)="this.setVisibleState(false)"
            (click)="(item.function)"
            type="link"
            class="pr-4"
            mat-button
            [routerLink]="[item.link]">
            <mat-icon class="m-0 p-0">{{ item.icon }}</mat-icon>
            <span *ngIf="item.text" class="ml-2">
              {{ item.text }}
            </span>
          </a>
        </li>
        <li *ngIf="role">
          <a
            (click)="this.setVisibleState(false)"
            (click)="signOut()"
            type="link"
            class="pr-4"
            mat-button
            routerLink="">
            <mat-icon class="m-0 p-0">subdirectory_arrow_left</mat-icon>
          </a>
        </li>
      </div>
    </ul>
  </nav>
</div>
