<p>
  <mat-toolbar class="h-toolbar shadow-5" color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <mat-list-item class="text-align-end">
      <div class="example-button-row">
        <a *ngFor="let item of items" class="pr-4" mat-button [routerLink]="item.link">
          <mat-icon>{{ item.icon }}</mat-icon>
          {{ item.text }}
        </a>
      </div>
    </mat-list-item>
  </mat-toolbar>
</p>
