/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #edf1f7;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.container {
  max-width: 1200px;
  //height: auto;
  margin-inline: auto;
}

.container-full {
  box-sizing: border-box;
  width: 100%;
}

.custom-css-class-snack-bar {
  background-color: aqua;
}

.mat-mdc-snack-bar-container {
  &.blue-snackbar {
    --mdc-snackbar-container-color: #2196f3;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
  &.success-snackbar {
    --mdc-snackbar-container-color: #baffc9;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
  &.error-snackbar {
    --mdc-snackbar-container-color: #ffb3ba;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
  &.info-snackbar {
    --mdc-snackbar-container-color: #bae1ff;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
  &.warning-snackbar {
    --mdc-snackbar-container-color: #ffffba;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
  &.default-snackbar {
    --mdc-snackbar-container-color: #ffffff;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}