<div class="container grid gap-6 py-6 lg:grid-cols-[280px_1fr]">
  <div class="lg:hidden">
    <button type="button" class="btn-secondary w-full justify-center" (click)="asideOpen.set(!asideOpen())">
      {{ asideOpen() ? 'Hide menu' : 'Show menu' }}
    </button>
  </div>

  @if (asideOpen()) {
    <div class="lg:hidden">
      <app-sidenav [menu]="_options" [title]="'Menu'"></app-sidenav>
    </div>
  }

  <aside class="hidden lg:block">
    <app-sidenav [menu]="_options" [title]="'Menu'"></app-sidenav>
  </aside>

  <section class="min-w-0">
    <ng-content select="router-outlet"></ng-content>
  </section>
</div>
